.top-wrapper h3{
  text-align:center;
  }
.top-wrapper h4{
  text-align: center;
  }
.main
  {background-color:black;
    color:white;
    }
h1
  {text-align:center;
    }
footer{
  background-color: gray;
  color: white;
  }
footer b{
  text-align:end;
  }
